<h1>sign up</h1>


<form action="/users/create" method="POST">
<input type="text" name="name" placeholder="your name" required id="">
<input type="email" name="email" placeholder="your email" required id="">
<input type="password" name="password" placeholder="password" required id="">
<input type="password" name="confirmpassword" placeholder="confirm password" required id="">
<button type="submit">sign up</button>

</form>