header {
  padding: 0px 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #6c6cf4; }
  header h2 {
    color: white; }
  header ul {
    display: flex;
    align-items: stretch; }
  header a {
    color: white;
    text-decoration: none;
    margin-left: 10px; }
  header li {
    list-style: none; }
